.header{
    text-align: center;  
        color:aqua;
    border: 10px;
}

.box{
    padding: 0.5em 1em;
    margin: 2em 0;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.lesson{
    padding: 0.5em 1em;
    text-align: center;
    margin: 2em 0;
    font-weight: bold;
    color: #00849b;
    background: #FFF;
    border: solid 3px #00849b;
    border-radius: 10px;
    width: 100px;
    height: 20px;
    transition: 0.4s;
}
.lesson:hover{
    padding: 0.5em 1em;
    text-align: center;
    margin: 2em 0;
    font-weight: bold;
    color: #FFF;
    background: #00849b;
    border: solid 3px #00849b;
    border-radius: 10px;
    width: 130px;
    height: 20px;
    transition: 0.4s;
}

.backButton {
    padding: 0.5em 1em;
    text-align: middle;
    margin: 2em 0;
    font-weight: bold;
    color: #9b0000;
    background: #FFF;
    border: solid 3px #9b0000;
    border-radius: 10px;
    width: 50px;
    height: 20px;
    transition: 0.4s;
}
.backButton:hover {
    padding: 0.5em 1em;
    width: 50px;
    height: 20px;
    margin: 2em 0;
    text-align: middle;
    font-weight: bold;
    color: #ffffff;
    background: #9b0000;
    border: solid 3px #9b0000;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    transition: 0.4s;
}
